---
import Layout from '../layouts/Layout.astro';
import { playlists } from '../lib/data.ts';
import PlayListCard from '../components/PlayListCard.astro';
import Greeting from '../components/Greeting.svelte';
---

<Layout title="Spotify Clone">
	<div
	id="playlist-container"
	class="relative transition-all duration-1000 bg-green-900"
	>
	<!-- <PageHeader /> -->

	<div class="relative z-10 px-3 md:px-6 pt-6 md:pt-10">
		<Greeting />
		<div class="grid grid-cols-2 md:flex md:flex-wrap mt-4 md:mt-6 text-xs md:text-sm lg:text-base gap-3 md:gap-4">
			{playlists.map((playlist) => <PlayListCard playlist={playlist} />)}
		</div>

		<div
		class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-[1]"
		>
			</div>
		</div>

	</div>
</Layout>
