---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Soundify">
	<div class="playlist-container" class="relative trasintion-all duration-1000 bg-green-600">
		<!-- <PageHedaer></PageHedaer> -->

		<div class=" relative z-10 px-6 " >
			<!-- Greetings -->
		</div>

	</div>
</Layout>

<style>
	
</style>
